*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    width: 100dvw;
    margin: 10px;
}

h1, h3{
    margin: 10px auto;
}

#beforeArrange{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

input{
    padding: 5px;
    border-radius: 4px;
}

li{
    list-style-type: number;
    margin: 5px 0;
}
